<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net461" />
  <package id="AutoMapper.Extensions.Microsoft.DependencyInjection" version="5.0.1" targetFramework="net461" />
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="IdentityModel" version="5.1.0" targetFramework="net461" />
  <package id="LinqKit" version="1.1.26" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="5.0.10" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="5.0.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.4" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.4" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.4" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.7" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Identity.Core" version="5.0.10" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.29.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="6.13.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.13.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.13.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net461" />
  <package id="System.Text.Json" version="5.0.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Westwind.Globalization" version="3.1.2" targetFramework="net461" />
  <package id="Westwind.Utilities" version="3.0.47" targetFramework="net461" />
  <package id="Z.EntityFramework.Extensions" version="5.2.10" targetFramework="net461" />
  <package id="Z.EntityFramework.Plus.EF6" version="5.2.10" targetFramework="net461" />
  <package id="Z.Expressions.Eval" version="4.0.53" targetFramework="net461" />
</packages>